/* Header styling */
.header {
    background-color: #2B2D42;
    padding: 0.7em 1.2em;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2em;
}

.navbarLeft,
.navbarRight {
    display: flex;
    align-items: center;
}

.navbarLeft a,
.navbarRight a {
    color: white;
    text-decoration: none;
    margin: 0 0.5em;
    position: relative;
}

.ctaButton {
    background-color: #EF233C;
    font-weight: bold;
    color: white;
    padding: 0.7em 1em;
    border-radius: 0.3em;
}

.searchIcon {
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    border: 0.1em solid white; 
    border-radius: 0.5em;
}

.logo {
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 0.1em;
}

.logoIcon {
    color: white;
    background-color: #EF233C;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    color: white;
    padding: 1em 1em;
    text-decoration: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdownContent {
    display: none; /* Ensure it's hidden by default */
    position: absolute;
    background-color: #43457B;
    min-width: 12em;
    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    top: 160%; /* Aligns below the dropdown button */
    left: 0;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: #575A89;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block; /* Display the dropdown on hover */
}

/* Change the color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3A3C69;
    border-radius: 5px;
}
